* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero section start */

.hero {
    padding: 130px 0 25px 0;
}

.heading_span {
    color: #FA7D19;
}

.hero_textcontainer {
    max-width: 630px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero__text__heading {
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;
    letter-spacing: -4px;
}

.hero__text__subheading {
    font-size: 16px;
    font-weight: 700;
    color: #000000A6;
}

.text__linkcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.link__store {
    height: 40px;
}

.hero__images__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero__bg {
    position: absolute;
    inset: unset;
    z-index: 10;
    width: 100%;
    max-width: 1140px;
}

.hero__iphone1 {
    position: absolute;
    z-index: 20;
    height: 460px;
    left: 33%;
}

.hero__iphone2 {
    position: absolute;
    z-index: 30;
    height: 460px;
    right: 32%;
}


/* hero section end */


/* CSS Rest */

.custom-header {
    background-color: #061951;
    padding: 14px 36px 12px 36px;
    margin: 0px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.visible{
    display: inline;
    visibility: visible;
}

.hidden {
    display: none;
}

.list__style__none{
    list-style-type: none;
}

.horizontal__break{
    border: 1px solid #00000029;
}

.mobile__nav__link{
    padding: 15px 10px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
}

.nav__link{
    text-decoration: none;
    color: #141414;
}

/* media queries */

/* sm(0-630) media query */
@media (max-width: 630px) and (min-width: 0) {
    .custom-header{
        padding: 12px 18px;
    }

    .hamburger{
        display: inline;
    }

    .header-link {
        display: none;
    }
    .hero__iphone1{
        left:10%;
    }
    .hero__iphone2{
        right: 10%;
    }
}

/* md(0-770) media query */
@media (max-width: 770px) and (min-width: 0) {
    .hero__images__container{
        min-height: 60vh;
    }
    .hero_textcontainer{
        padding: 0px 5px;
    }
    .hero__text__heading{
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -2px;
    }
    .hero__text__subheading{
        font-size: 14px;
    }
    .text__linkcontainer{
        margin-top: 15px;
    }
    .hero__iphone1 {
        height: 220px;
    }
    .hero__iphone2 {
        height: 220px;
    }
}